[submodule "satellites/git-tools/gitvisor"]
	path = satellites/git-tools/gitvisor
	url = git@gitlab.com:hyperpolymath/gitvisor.git
[submodule "satellites/git-tools/gitloom"]
	path = satellites/git-tools/gitloom
	url = git@gitlab.com:hyperpolymath/gitloom.git
[submodule "satellites/git-tools/git-reunify"]
	path = satellites/git-tools/git-reunify
	url = git@gitlab.com:hyperpolymath/git-reunify.git
[submodule "satellites/git-tools/git-seo"]
	path = satellites/git-tools/git-seo
	url = git@gitlab.com:hyperpolymath/git-seo.git
[submodule "satellites/git-tools/polysafe-gitfixer"]
	path = satellites/git-tools/polysafe-gitfixer
	url = git@github.com:hyperpolymath/polysafe-gitfixer.git
[submodule "satellites/git-tools/vext"]
	path = satellites/git-tools/vext
	url = git@github.com:hyperpolymath/vext.git
[submodule "satellites/repo-management/oikos"]
	path = satellites/repo-management/oikos
	url = git@github.com:hyperpolymath/oikos.git
[submodule "satellites/repo-management/robot-repo-automaton"]
	path = satellites/repo-management/robot-repo-automaton
	url = git@gitlab.com:hyperpolymath/robot-repo-automaton.git
[submodule "satellites/repo-management/grim-repo"]
	path = satellites/repo-management/grim-repo
	url = git@github.com:hyperpolymath/grim-repo.git
[submodule "satellites/repo-management/robot-vacuum-cleaner"]
	path = satellites/repo-management/robot-vacuum-cleaner
	url = git@github.com:hyperpolymath/robot-vacuum-cleaner.git
[submodule "satellites/scaffolding/scaffoldia"]
	path = satellites/scaffolding/scaffoldia
	url = git@gitlab.com:hyperpolymath/scaffoldia.git
[submodule "satellites/developer-ux/rescript-evangeliser"]
	path = satellites/developer-ux/rescript-evangeliser
	url = git@github.com:hyperpolymath/rescript-evangeliser.git
[submodule "satellites/developer-ux/recon-silly-ation"]
	path = satellites/developer-ux/recon-silly-ation
	url = git@gitlab.com:hyperpolymath/recon-silly-ation.git
[submodule "satellites/developer-ux/nickel-config-reporter"]
	path = satellites/developer-ux/nickel-config-reporter
	url = git@git.sr.ht:~hyperpolymath/nickel-config-reporter
[submodule "julia-ecosystem"]
	path = julia-ecosystem
	url = git@github.com:hyperpolymath/julia-ecosystem.git
[submodule "v-ecosystem/v-graphql"]
	path = v-ecosystem/v-graphql
	url = git@github.com:hyperpolymath/v-graphql.git
[submodule "v-ecosystem/v-grpc"]
	path = v-ecosystem/v-grpc
	url = git@github.com:hyperpolymath/v-grpc.git
[submodule "v-ecosystem/v-rest"]
	path = v-ecosystem/v-rest
	url = git@github.com:hyperpolymath/v-rest.git
[submodule "rescript-ecosystem/rescript"]
	path = rescript-ecosystem/rescript
	url = git@github.com:hyperpolymath/rescript.git
[submodule "rescript-ecosystem/rescript-evangeliser"]
	path = rescript-ecosystem/rescript-evangeliser
	url = git@github.com:hyperpolymath/rescript-evangeliser.git
[submodule "rescript-ecosystem/rescript-tea"]
	path = rescript-ecosystem/rescript-tea
	url = git@github.com:hyperpolymath/rescript-tea.git
[submodule "rescript-ecosystem/rescript-string-power"]
	path = rescript-ecosystem/rescript-string-power
	url = git@github.com:hyperpolymath/rescript-string-power.git
[submodule "rescript-ecosystem/idaptik-rescript13-staging"]
	path = rescript-ecosystem/idaptik-rescript13-staging
	url = git@github.com:hyperpolymath/idaptik-rescript13-staging.git
